{% extends 'bootstrap/base.html' %}

<head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../static/js/script.js"></script>
    <title>{% block title %}{% endblock %} - Simple Flask app</title>
    {% endblock %}
</head>

{% block navbar %}
<div class="topnav">
    <a class="active" href="{{ url_for('getData')}}">View Data</a>
    <a href="{{ url_for('getData', export=1)}}">Export</a>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}